extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src=`/img/destinos_${resultado.imagen}`, alt="imagen viaje", class="img-fluid")
            .col-md-7
                h1 #{resultado.titulo}
                p
                    svg.icon.icon-tabler.icon-tabler-calendar-time(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5'
                        stroke='#fd0061' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4')
                        path(d='M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0')
                        path(d='M15 3v4')
                        path(d='M7 3v4')
                        path(d='M3 11h16')
                        path(d='M18 16.496v1.504l1 1')
                    |   #{resultado.fecha_ida.toLocaleString('es')} - #{resultado.fecha_vuelta.toLocaleString('es')}

                p
                    svg.icon.icon-tabler.icon-tabler-coin-euro(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5'
                        stroke='#fd0061' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0')
                        path(d='M14.401 8c-.669 -.628 -1.5 -1 -2.401 -1c-2.21 0 -4 2.239 -4 5s1.79 5 4 5c.9 0 1.731 -.372 2.4 -1')
                        path(d='M7 10.5h4')
                        path(d='M7 13.5h4')
                    |   #{resultado.precio} Euros

                p
                    svg.icon.icon-tabler.icon-tabler-users(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5'
                        stroke='#fd0061' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0')
                        path(d='M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2')
                        path(d='M16 3.13a4 4 0 0 1 0 7.75')
                        path(d='M21 21v-2a4 4 0 0 0 -3 -3.85')
                    // Mostrar cantidad de viajes disponibles
                    |   #{resultado.disponibles} Disponibles

                p= resultado.descripcion
